.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__contact {
  margin-top: 2.4em;
}
.about__desc__one {
  margin-top: 2.4em;
}
.about__desc__two {
  margin-top: 1em;
}
.about__desc__three {
  margin-top: 1em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}

.about__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem; /* space between picture and text */
  margin-bottom: 1.5rem;
}

.about__picture {
  width: 250px;
  height: 250px;
  border-radius: 70%; /* round profile */
  object-fit: cover;
  border: 5px solid var(--clr-primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
  animation: slideUpDown 2s ease-in infinite;
}

@keyframes slideUpDown {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translate(0px);
  }
}

@media (max-width: 600px) {
  .about__picture {
    width: 180px;
    height: 180px;
  }
}

.about__intro {
  display: flex;
  flex-direction: column;
}
